
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}

button#black{
    background-color:black;
    color: white;
    height: 52px;
    padding:16px 20px 16px 20px;
    border-radius: 8px;
    text-align: center;
    font-size:16px;
    border: none;
    font-family: 'Sora', sans-serif;
}

button#black:hover{
    background-color: #3F2E2E;
    color: white;
}

button#white{
    background-color:white;
    color: black;
    height: 52px;
    padding:16px 20px 16px 20px;
    border-radius: 8px;
    text-align: center;
    font-size:16px;
    border: none;
    font-family: 'Sora', sans-serif;
}

button#white:hover{
    background-color: #00000080;
    opacity: 50%;
    color:white
}

button#special{
    background: linear-gradient(45deg, blue, red);
    opacity: 90%;
    padding:16px 20px 16px 20px;
    border-radius: 8px;
    text-align: center;
    font-size:16px;
    border: none;
    font-family: 'Sora', sans-serif;
}

@media only screen and (max-width: 430px) {
    button#black{
        background-color:black;
        color: white;
        height: 42px;
        padding:4px 14px 4px 14px;
        
        border-radius: 8px;
        text-align: center;
        vertical-align: middle;
        font-size:14px;
        border: none;
        font-family: 'Sora', sans-serif;
    }

    button#white{
        background-color:white;
        color: black;
        height: 42px;
        padding:4px 14px 4px 14px;
        border-radius: 8px;
        text-align: center;
        vertical-align: middle;
        font-size:14px;
        border: none;
        font-family: 'Sora', sans-serif;
    }
  }


