*,*::after,*::before{
    box-sizing: border-box;
   
}
div#navbar{
    padding: 0px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: space-around; 
}



div#mid{
    display: flex;
    justify-content:space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
    
}

img{
    width: 1228px;
}


@media screen and ( max-width: 546px) {
        div#navbar{
            justify-content: space-between;
        }
        div#mid{
            display: none;
        }
    
    
}
