@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap');


div.CardComponent{
    height: 75vh;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

div.card{
    flex-basis: content;
    /* background: linear-gradient(81deg, #4162db, #db353e); */
    background-color: antiquewhite;
    border-radius: 8px;
    align-items: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

div#text{

    border-radius: 8px;
    align-self: center;
}

div.InsideCard{
    height: 75vh;
    font-family: 'Sora', sans-serif;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* @media only screen and (max-width: 430px) {
    form#one{
        flex-basis: 400px;
        border: solid 1px;
        border-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    div#Texteditor{
        width: 320px;
        height: 200px;
    
    }
    
    input.textarea{
        height: 200px;
        width: 320px;
    }
  } */