div#Footer{
    margin-top: auto;
}

div#footer{
    display: flex;
    background-color: black;
    height: 150px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 100px 100px 0px 0px;
    border-radius: 90px 90px 0px 0px; 
    font-family: 'Sora', sans-serif;

}

div#f1{
    display: flex;
    align-items: end;
    color: white;
    text-align: start;
    font-size: 40px;
    flex-grow: 1;
}


div#f2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: start;
    font-size: 15px;
    flex-grow: 1;
}

div#f3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: start;
    font-size: 15px;
    flex-grow: 1;
}

@media screen and ( max-width: 430px) {
    div#f1{
        font-size: 28px;
    }
    div#footer{
        height: 150px;
    }
}