@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap');



input{
    margin: 10px;
    border: 1px solid rgb(236, 53, 53);
    padding: 15px;
    border-radius: 3px;
    font-family: 'Sora', sans-serif;
}

div.formInput{
    display: flex;
    justify-content:space-between;
}

label{
    display: flex;
    font-family: 'Sora', sans-serif;
    align-items: center;
}

Button{
    margin: 10px;
}

@media only screen and (max-width: 430px) {
    input{
        margin: 5px;
        border: 1px solid black;
        padding: 10px;
        border-radius: 3px;
        font-family: 'Sora', sans-serif;
    }
    div#formInput{
        font-size: 14px;
    }
    label{
        font-size: medium;
    }
  }
