/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap');


div.CardComponent{
    height: 30vh;
    font-family: 'Sora', sans-serif;
    justify-content: center;
    margin: auto;
    display: flex;
} */

/* div.card{
    flex-basis: content;
    background: linear-gradient(81deg, #4162db, #db353e);
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
} */
/* 
div#text{

    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    align-self: center;
} */



/* @media only screen and (max-width: 430px) {
    form#one{
        flex-basis: 400px;
        border: solid 1px;
        border-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    div#Texteditor{
        width: 320px;
        height: 200px;
    
    }
    
    input.textarea{
        height: 200px;
        width: 320px;
    }
  } */